<a href="https://colab.research.google.com/github/drstannwoji2019/ML_Projects/blob/main/PrinciplesApplications_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = ("Dr. Stanley Nwoji") # A variable stores information (data). Whatever is in that variable, you can call merely by using the variable
print(name)
print('Hello ', name)
name = ("Professor of Data Science")
print(name)

Dr. Stanley Nwoji
Hello  Dr. Stanley Nwoji
Professor of Data Science

Assignment 1: Write a code and print your name and a short introduction of who you are.

In [ ]:
print ('hello')

hello

In [ ]:
# Why Python
# 1. Simple and readable 2. Versatile 3. Widely supported
# What can you do with Python
# 1. Analyze large datasets 2. Create data visualizations 3. Automate repetitive tasks
# 3. Develop simulations for experiments 4. Build applications for academic or professional use
# Your first python code
print("Hello, World")

Hello, World

In [ ]:
#Variables and Data Types
# We use variables to store data which you can use in a program
# Storing numbers
x = 10 # Integer
y = 3.14 # Float

# Storing text
name = "Alice" # String
print(name)

# Printing variables
print(x, y, name)

Alice
10 3.14 Alice

Assignment 2: What data types are these two 20 and 50.65? Explain the difference. How do you represent a string in Python?

In [ ]:
# If-else Condition

age = 25
if age > 18:
    print("You are an adult.")
else:
    print("You are a minor.")

# For loop
for i in range(5):
    print(i)

You are an adult.
0
1
2
3
4

Assignment 3: Write a Python code using if-else statement to find out if a 30 year old man is qualified to be in the American military if the age for joining the military is between 20 and 45.

In [ ]:
# Arithmetic Operations
# Addition
5 + 3

8

In [ ]:
# Subtraction
5 - 3

2

In [ ]:
# Multiplication
5 * 3

15

In [ ]:
# Division
5 / 2

2.5

In [ ]:
# Floor Division
5 // 2

2

In [ ]:
# Modulus (Remainder)
5 % 2

1

In [ ]:
# Exponentiation
3**9

19683

In [ ]:
# Assignment = Try this assignment without using python, and try it again with python
a = 7
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)
print(a^b)

10
4
21
2.3333333333333335
2
1
343
4

In [ ]:
# Comparison Operators
# name = "Alice"
# Equal to; ==
# Comparison operators are used to compare values and they return a Boolean (True, False)
# There are many comparison operators: equal to, not equal to, greater than, less than, greater than or equal to, less than or equal to.
5 == 5

True

In [ ]:
5 != 5

False

In [ ]:
5 > 3

True

In [ ]:
5 < 3

False

In [ ]:
5 >= 6

False

In [ ]:
3 <=5

True

Assignment 4:
Show middle school students in your area how to use comparison operators. You must help them see that comparison operators return Boolean True or False outputs.

In [ ]:
# Lists
# Definition: Lists are ordered, mutable (changeable) collections that can hold different data types
myclass_fruits = ["mango", "cherry", "pineapples", "strawberry", "orange", "water melon", "kiwi"]
print(myclass_fruits)

['mango', 'cherry', 'pineapples', 'strawberry', 'orange', 'water melon', 'kiwi']

In [ ]:
print(myclass_fruits[5])

water melon

In [ ]:
myclass_fruits[1] = "banana"
print(myclass_fruits)

['mango', 'banana', 'pineapples', 'strawberry', 'orange', 'water melon', 'kiwi']

In [ ]:
myclass_fruits.append("apple")
print(myclass_fruits)

['mango', 'banana', 'pineapples', 'strawberry', 'orange', 'water melon', 'kiwi', 'apple']

In [ ]:
myclass_fruits.append("cherry")
print(myclass_fruits)

['mango', 'banana', 'pineapples', 'strawberry', 'orange', 'water melon', 'kiwi', 'apple', 'cherry']

In [ ]:
myclass_fruits.remove("pineapples")
print(myclass_fruits)

['mango', 'banana', 'strawberry', 'orange', 'water melon', 'kiwi', 'apple', 'cherry']